@charset "UTF-8";

/*!
 * Based on ITCSS methodology
 */

/*---
title: Settings
layer: 1
---
Custom properties and selectors
*/

:root {
	--color-text: #345;
	--color-muted: #33445590;
	--color-light: #f6f8fa;
	--color-lighter: #fafbfc;
	--color-dark: #24292e;
	--color-link: #0076df;
	--color-primary: #0366d6;
	--color-alternate: #6f42c1;
	--color-warning: #ffd33d;
	--color-error: #d73a49;
	--color-success: #28a745;
	--color-label: var(--color-alternate);
	--color-footer-subtitle-link: #0076df;
	--font-family-serif: 'Noto Serif', Georgia, Times, 'Times New Roman', serif;
	--font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
	--font-size-base: 16px;
	--font-size-static: 16px;
	--font-size-page-title: calc(var(--font-size-static) * 1.125);
	--font-size-list-title: calc(var(--font-size-static) * 2.25);
	--font-size-subtitle: calc(var(--font-size-static) * .875);
	--font-size-output: calc(var(--font-size-static) * .8125);
	--line-height: 1.5;
	--size-base: calc(var(--font-size-base) * var(--line-height) * .5);
	--vr: calc(var(--font-size-static) * var(--line-height) * .5);
	--duration-base: .333s;
	--duration-fast: .4s;
}

@custom-selector :--hn h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .h7;

@custom-media --screen-md-up (width >= 480px);

@custom-media --screen-lg-up (width > 960px);

/*---
title: Generics
layer: 3
---
Resets, normalizations, and high-level styles
*/

@keyframes swap-icon {
	10% {
		transform: translateY(120%);
	}

	33% {
		opacity: 0;
	}

	50% {
		transform: translateY(0);
	}

	100% {
		opacity: 1;
	}
}

/*---
title:   Colors
name:    colors
section: Generics
---
[Primer](https://primer.github.io/) color palette
```example:color
@color: #33445590 @name: muted
@color: #f6f8fa @name: light
@color: #fafbfc @name: lighter
@color: #24292e @name: dark
@color: #0076df @name: link
@color: #0366d6 @name: primary
@color: #6f42c1 @name: alternate
@color: #ffd33d @name: warning
@color: #d73a49 @name: error
@color: #28a745 @name: success
```
*/

.color--primary {
	color: var(--color-primary);
}

.color--alternate {
	color: var(--color-alternate);
}

/*---
title:   Typography
section: Generics
*/

.h7 {
	font-size: .5rem;
}

.text--thin {
	font-weight: 300;
}

.text--uppercase {
	text-transform: uppercase;
}

.text--monospace {
	font-family: var(--font-family-monospace);
}

.text--lead {
	font-size: calc(var(--font-size-static) * 1.25);
	font-weight: 300;
}

.animated {
	animation-play-state: running;
}

/*---
title: Elements
layer: 4
---
Bare HTML element styling
*/

body {
	background-color: white;
	color: var(--color-text);
	font-family: var(--font-family-sans-serif);
	font-size: var(--font-size-base);
	line-height: var(--line-height);
	margin: 0;
	min-width: 320px;
	padding: 0;
}

svg {
	fill: currentColor;
}

/*---
title:   Headings
name:    hn
section: Elements
---
Header sizes and helper classes.

```example:html
<h1>H1</h1>
<p class="h1">H1</h1>
<h2>H2</h2>
<p class="h2">H2</p>
<h3>H3</h3>
<p class="h3">H3</h1>
<h4>H4</h4>
<p class="h4">H4</p>
<h5>H5</h5>
<p class="h5">H5</p>
<h6>H6</h6>
<p class="h6">H6</p>
<p class="h7">H7</p>
```
*/
h1,
.h1 {
	font-size: 2rem;
}

h2,
.h2 {
	font-size: 1.5rem;
}

h3,
.h3 {
	font-size: 1.25rem;
}

h4,
.h4 {
	font-size: 1rem;
}

h5,
.h5 {
	font-size: .875rem
}

h6,
.h6 {
	font-size: .75rem
}

:--hn {
	all: initial;
	color: var(--color-text);
	font-family: var(--font-family-sans-serif);
	font-weight: bold;
}

/*---
title:   Links
section: Elements
---*/

:any-link {
	color: var(--color-link);
	text-decoration: none;
}

:any-link:hover,
:any-link:focus {
	text-decoration: underline;
}

a:active {
	outline: 0;
	-webkit-tap-highlight-color: transparent;
}

/*---
title: Objects
layer: 5
---
Layout systems and class-based selectors which define undecorated design patterns.
*/

/*---
title:   Container
section: Objects
name:    o-container
---
Width wrapper object
*/
.o-container {
	margin: 0 auto;
	max-width: 95vw;
	padding: 0 var(--vr);
}

/*---
title:   Column
section: Objects
name:    o-column
---
Flex column object
*/
.o-column {
	display: flex;
	flex-flow: column wrap;
}

.sort--reversed .o-column {
	flex-direction: column-reverse;
}

.o-column--nowrap {
	flex-wrap: nowrap;
}

/*---
title:   Page Header
section: Objects
name:    o-header
---
Header object. Covers top of page.
*/
.o-header {
	border-bottom: 2px solid currentColor;
	margin-bottom: calc(var(--vr) * 2);
	padding: var(--vr) 0;
}

.o-form-group + .o-form-group {
	margin-top: calc(var(--vr) * 2);
}

.o-form-group input {
	display: block;
	margin: 0;
	width: 100%;
}

.o-form-group label {
	color: var(--color-label);
	display: block;
	font-size: var(--font-size-subtitle);
	letter-spacing: .05em;
	margin-bottom: var(--vr);
	text-transform: uppercase;
}

.o-form-group__range {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	height: calc(var(--vr) * 2);
	justify-content: space-between;
}

.o-form-group__range input {
	display: block;
	line-height: 1;
	margin-right: var(--vr);
}

.o-form-group__range input:only-child {
	width: 100%;
}

.o-form-group__range output {
	font-size: var(--font-size-output);
	text-align: right;
}

/*---
title:   Page Footer
section: Objects
---
Spans bottom of the page
*/
.o-footer {
	background-color: var(--color-dark);
	color: var(--color-lighter);
	font-size: var(--font-size-subtitle);
	padding: calc(var(--vr) * 2) var(--vr);
}

.o-footer .o-container {
	align-items: stretch;
	display: flex;
	flex-flow: column nowrap;
}

.o-footer a b {
	font-weight: 600;
}

.o-footer :--hn,
.o-footer :--hn a {
	color: var(--color-light);
	margin: 0;
	transition: color var(--duration-fast) ease-in;
}

.o-footer :--hn a:hover,
.o-footer :--hn a:focus,
.o-footer :--hn a:active {
	color: var(--color-footer-subtitle-link);
	text-decoration: none;
}

.o-footer p {
	margin-top: 0;
}

.o-footer__section {
	justify-content: flex-start;
	min-width: 25%;
	margin-bottom: var(--vr);
	padding-left: var(--vr);
}

@media (--screen-md-up) {
	.o-container {
		max-width: 75vw;
	}

	.o-footer .o-container {
		flex-flow: row nowrap;
		padding-left: 0;
		padding-right: 0;
	}

	.o-footer__section + .o-footer__section {
		border-left: 2px solid var(--color-light);
		margin-left: calc(var(--vr) * 3);
	}
}

/*---
title: Components
layer: 6
---
UI modules. Contains most specific selectors.
*/

/*---
title:   Buttons
section: Components
---
```example:html
```
*/
.c-btn {
	-webkit-appearance: none;
	-moz-appearance: none;
	all: initial;
	cursor: pointer;
	display: inline-block;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	user-select: none;
	white-space: nowrap;
}

.c-btn--ico {
	display: block;
	height: 1em;
	width: 1em;
}

/*---
title:   Icons
section: Components
---
```example:svg
<symbol id="icon-..." xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"></symbol>
```
example:html```
<svg class="c-ico">
	<title>...</title>
	<use xlink:href="assets/img/symbol-defs.svg#c-ico..."></use>
</svg>
```
*/

.c-ico {
	display: block;
	fill: currentColor;
	height: 1em;
	vertical-align: baseline;
}

.c-btn .c-ico {
	display: inline-block;
	fill: currentColor;
	height: 1em;
	margin: 0 auto;
	stroke: currentColor;
	stroke-width: 0;
	width: 1em;
}

/*---
title:   Sort button
section: Components
---
Sort direction toggle button
*/

.c-sort {
	display: block;
	font-size: var(--font-size-static);
	line-height: 1;
	margin-left: auto;
	text-align: right;
}

.c-sort .c-ico {
	color: var(--color-dark);
	height: 1em;
	transform: rotate(180deg);
	transform-origin: center;
	transition: transform var(--duration-fast) ease-out;
	width: 1em;
	vertical-align: middle;
}

.sort--reversed .c-sort .c-ico {
	transform: rotate(0deg);
}

/*---
title:   App header
section: Components
---
The application banner/header. Font sizes should not be `rem` units.
*/
.c-header {
	align-items: center;
	display: flex;
	font-size: var(--font-size-static);
	justify-content: flex-start;
	margin: calc(var(--vr) * 2) 0 calc(var(--vr) * 3);
	padding: 0;
}

.c-header :--hn {
	font-size: var(--font-size-static);
	letter-spacing: .05em;
	margin: 0 auto 0 0;
	text-transform: uppercase;
}

/*noinspection CssInvalidFunction*/
.c-header [aria-controls='settings'] {
	animation: swap-icon var(--duration-fast) ease-out;
	animation-play-state: paused;
	background: svg-load('close.svg') no-repeat center;
	display: block;
	height: var(--font-size-static);
	fill: var(--color-muted);
}

/*noinspection CssInvalidFunction*/
.c-header [aria-controls='settings'][aria-expanded='false'] {
	background-image: svg-load('dots-horizontal-triple.svg');
}

/*---
title:   Font size title
section: Components
---
The rem pixel size display. Font sizes should not be `rem` units.
*/
.c-title {
	align-items: center;
	display: flex;
	font-size: var(--font-size-static);
	justify-content: flex-start;
}

.c-title :--hn {
	display: inline-block;
	font-size: var(--font-size-list-title);
	margin-right: .125em;
	text-transform: lowercase;
}

.c-title p {
	align-self: flex-end;
	font-size: 1rem;
	line-height: 2.25;
	margin: 0;
	padding: 0;
}

.c-search-form__input {
	border: 0;
	border-bottom: 1px solid var(--color-text);
	padding: var(--size-base);
}

.c-search-form__input:focus {
	border-bottom-color: var(--color-primary);
	outline: 0;
}

.c-settings-form {
	border-bottom: 1px solid var(--color-muted);
	border-top: 1px solid var(--color-muted);
	display: block;
	margin: calc(var(--vr) * 2) auto calc(var(--vr) * 4);
	padding: calc(var(--vr) * 2) var(--vr);
}

/*---
title:   Font size display
section: Components
---
The rem to pixel relation display.
*/

.c-sizes {
	min-height: calc(var(--vr) * 6);
	width: 100%;
}

.c-sizes p {
	cursor: default;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	user-select: all;
}

.c-sizes p::selection,
.c-sizes b::selection {
	background: var(--color-text);
	color: white;
}

.sizes__wrap {
	display: flex;
	flex-flow: column nowrap;
}

.sort--reversed .sizes__wrap {
	flex-direction: column-reverse;
}

.sizes__px {
	color: var(--color-muted);
	font-size: var(--font-size-static);
	margin: var(--vr) 0;
	padding-top: var(--vr);
}

.sizes__rem {
	letter-spacing: -.05em;
	line-height: 1;
	font-kerning: auto;
	padding-bottom: var(--vr);
}

.sizes__rem + .sizes__px {
	border-top: 1px solid currentColor;
	margin-bottom: calc(var(--vr) * 4);
	width: 100%;
}

.sort--reversed .sizes__rem {
	margin-bottom: calc(var(--vr) * 2);
}

.sort--reversed .sizes__rem + .sizes__px {
	border-top-width: 0;
	margin-bottom: var(--vr);
}

.sort--reversed .c-sizes:last-of-type .sizes__px {
	margin-top: 0;
	padding-top: 0;
}

/*---
title: Utilities
name:  trumps
layer: 7
---
Includes overrides, hacks, helpers, and theme options.
*/

/*---
title:   Helpers
section: Utilities
---
Shortcuts, shorthands, and helper classes
*/

.u-hide,
.no-js .u-needs-js {
	display: none !important;
}

@media print {
	.c-header {
		margin-top: 0;
	}

	.u-hide--print {
		display: none;
	}

	.u-invisible--print {
		visibility: hidden;
	}

	.sizes__wrap {
		page-break-inside: avoid;
	}

	.o-footer .o-container {
		flex-direction: column;
	}

	.o-footer__section {
		border-left-width: 0;
		margin-left: 0 !important;
		padding-left: 0;
	}

	a[href^='http://']::after,
	a[href^='https://']::after {
		content: ' (' attr(href) ')';
		font-size: .925em;
		font-style: italic;
		font-weight: normal;
	}
}

/*---
title:   Hacks
section: Utilities
---
Ugly CSS or descending specificity rules
*/

[name='pixelRangePixels']::after {
	content: 'px';
}

.o-footer__section:last-child,
.o-footer__section p:last-child {
	margin-bottom: 0;
}

@media (--screen-md-up) {
	.o-footer__section:last-child {
		margin-bottom: var(--vr);
	}
}
